.btn.active {
  background-color: rgb(15, 79, 199);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.count {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.btn {
  margin: 10px;
  background-color: orange;
  border: none;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}
